<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>谷得游戏_商业合作</title>
<meta name="description" content="谷得游戏渠道商务合作、泛娱乐与异业合作、单机游戏商务合作、国际业务合作、广告合作、品牌公关、媒体合作等。" />
<meta name="keywords" content="谷得游戏、谷得、谷得官网" />
<#include "header_common.html">
<script>
	headtitle(3)
</script>
<style>
	.header .menu .li4{ background: url(desktop/images/head4_b.jpg) no-repeat center;}
</style>
</head>
<body style="background:#f7f7f7;">
<#include "header.html">
<div class="banner6"></div>
<!-- <center style="font-size:52px;color:#29799e">
	<br/>
  	官网合作模块正在维护中......
</center> -->
	<!-- <div class="cont" style="align:center;font-size:52px; width:998px; border:0px solid red">
	  		
	  	</div> -->
	
	<div class="cont" style=" width:998px; border:0px solid red">

		<div class="tab">

			<div class="coo">
				<div class="cool"><!--
				  <div class="cooper">
						<p class="p1">CEO</p>
						<p class="p2">Contacts:  Xu Yuan</p>
						<p class="p3">Email:  thirteen@good321.net </p>
					</div>
					--><div class="cooper">
						<p class="p1">副总裁、市场负责人</p>
						<p class="p2">联系人：黄承娟</p>
						<p class="p3">邮箱：hebehuang@good321.net</p>
					</div>
					<div class="cooper" style="border:0px">
						<p class="p1">商务合作</p>
						<p class="p2">1.手机游戏网络版与单机版联运外放、CPS合作、授权发行；</p>
						<p class="p2">2.全球地区授权与发行合作；</p>
						<p class="p2">3.手机游戏引入代理、定制，欢迎各优秀研发公司/团队洽谈合作；</p>
						<p class="p2">4.手机游戏商务洽谈、授权合作；</p>
						<p class="p2">联系人：罗小姐						</p>
						<p class="p3">邮箱：luosha@good321.net　QQ：17886810</p>
					</div>
				</div>


				<div class="coor">
					<div class="cooper">
						<p class="p1">媒体合作</p>
						<p class="p2">游戏媒体、网络垂直媒体和大众媒体合作。</p>
						<p class="p2">联系人：罗小姐</p>
						<p class="p3">邮箱：luosha@good321.net　QQ：17886810</p>
					</div>
					<!--<div class="cooper">
						<p class="p1">Global Publishing Director</p>
						<p class="p2">Contacts:  Qu Junxing</p>
						<p class="p3">Email:  qujunxing@good321.net </p>
					</div>
					-->
					<div class="cooper">
						<p class="p1">“VR+乐园”全国招商加盟合作</p>
						<p class="p2">联系人：屈俊星</p>
						<p class="p2">QQ：89532672</p>
						<p class="p3">邮箱：qujunxing@good321.net</p>
					</div>
					<div class="cooper" style="border:0px">
						<p class="p1">广州谷得网络科技有限公司</p>
						<p class="p2">公司地址：广州市天河区荷光路盛达商务园E栋谷得大厦</p>
						<p class="p2">总机：020-38781040</p>
						<p class="p2">传真：020-38267613</p>
						<p class="p3">邮编：510623</p>
					</div>
				</div>
			
			</div>
		</div>
		
		

	</div> 
	<#include "footer.html">
</body>
<script src="js/main_06_23.js"></script>
<script type="text/javascript">
$(function(){
	$('.hot_list li .hot_gamebox').hotlist();
	$('.lk_dt_news li').lkdtnew();
	$('.company_listhover > li').company();
	$('.event_bk > div').events();
	$('.cptimes_bk > div').cptimes();
	$('.games_con li').sild();
})


</script>
</html>