<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>谷得游戏_企业介绍</title>
<meta name="description" content="谷得游戏企业介绍，公司简介、企业文化、发展历程和所获荣誉等。" />
<meta name="keywords" content="谷得游戏、谷得、谷得官网、世界2、世界ol" />
<#include "header_common.html">
<script>
	headtitle(2)
	navtitle(0);
</script>
<style>
	.header .menu .li3{ background: url(desktop/images/head3_b.jpg) no-repeat center;}
</style>
</head>
<body>
<#include "header.html">
<#include "title1.html">
	<div class="cont">

		<div class="tab">

			<div class="cart_box1">
				<div class="text">
					<#if imageList??>
					<#list imageList as image>
						<#if image.imgType=="CI">
						<img src="${image.img}" alt="">
	                	
	                    </#if>
                    </#list>
                   </#if>
					<p class="p1">公司简介</p>
					<p class="p2">Company profile</p>
	<p class="p3">
    　　<#if imageList??>
		<#list imageList as image>
			<#if image.imgType=="CI">
			${image.content!}

			</#if>
		</#list>
	   </#if>
	</p>
				</div>
				<div class="share1"></div>
			</div>
		</div>
		
		

	</div>
	</div>
	<#include "footer.html">
</body>
</script>
</html>