<div id="bg"></div>
<div id="showwindow">
	<div id="clo"><img src="desktop/images/cl.png" alt=""></div>

	<div style="line-height: 200px; tex font-size: 18px; color:#696969;  text-align: center;">
	<!-- 暂未开放！ -->
	</div>
</div>
<div class="header_main">
	<div class="header">
		
		<div class="logo"><img src="desktop/images/logo.png" alt="" width="100%"></div>
		<div class="menu">
			<ul>
				<a href="index.html"><li class="li1"></li></a>
				<a href="pc_game.html"><li class="li2"></li></a>
				<a href="pc_ci.html"><li class="li3"></li></a>
				<a href="pc_cooperation.html"><li class="li4"></li></a>
				<a href="pc_recruit.html"><li class="li5"></li></a>
			</ul>
		</div>
	</div>
</div>
<div class="showbox">
	<div class="main" id="show_1">
		<div class="box">
			<a href="pc_game.html">
				<img src="desktop/images/sb.jpg" style="width:133px; height:84px" alt="">
				<p  style="line-height:40px;">旗下游戏</p>
			</a>
		</div>
		
		<div class="box">
			<a href="javascript:unopen()">
				<img src="desktop/images/sb2.jpg" style="width:133px; height:84px" alt="">
				<p  style="line-height:40px;">游戏社区</p>
			</a>
			<div class="yn"><img src="desktop/images/n.jpg" alt=""></div>
			
		</div>
		<!-- <div class="box">
			<a href="javascript:;" class="customer-server">
				<img src="desktop/images/sb3.jpg" style="width:133px; height:84px" alt="">
				<p  style="line-height:40px;">客服中心</p>
			</a>
			
		</div> -->
		<div class="clear"></div>
	</div>



	<div class="main" id="show_2">
		
		<div class="box">
			<a href="pc_ci.html">
				<img src="desktop/images/q2.jpg" style="width:133px; height:84px" alt="">
				<p  style="line-height:40px;">公司介绍</p>
			</a>
			
		</div>
		<div class="box" >
			<a href="pc_news.html">
				<img src="desktop/images/q1.jpg" style="width:133px; height:84px" alt="">
				<p style="line-height:40px;">新闻中心</p>
			</a>
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="main" id="show_3">
		<div class="box">
			<a href="pc_recruit.html">
				<img src="desktop/images/q5.jpg" style="width:133px; height:84px" alt="">
				<p  style="line-height:40px;">社会招聘</p>
			</a>
		</div>
		<div class="box" >
			<a href="pc_recruit.html?type=1">
				<img src="desktop/images/q6.jpg" style="width:133px; height:84px" alt="">
				<p style="line-height:40px;">校园招聘</p>
			</a>
		</div>
		<div class="clear"></div>
	</div>

</div>