<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Document</title>
<#include "header_common.html">
<script>
	headtitle(4);
	navtitle(0);
</script>
</head>
<body>
<div class="header_main">
	<div class="header">
		
		<div class="logo"><img src="images/logo.png" alt="" width="100%"></div>
		<div class="menu">
			<ul>
				<li><a href="index.html"><span class="span1">首页</span><br><span class="span2">HOME</span></a></li>
				<li><a href="gamelist.html"><span class="span1">游戏</span><br><span class="span2">GAMES</span></a></li>
				<li><a href="enterprise_1.html"><span class="span1">企业</span><br><span class="span2">ENTERPRISE</span></a></li>
				<li><a href="cooperation.html"><span class="span1">合作</span><br><span class="span2">BUSINESS</span></a></li>
				<li><a href="recruitment_1.html"><span class="span1">招聘</span><br><span class="span2">RECRUITMENT</span></a></li>
			</ul>
		</div>
	</div>
</div>
	<div class="banner3"></div>
	<div class="Title">
		<div class="title">
			<ul>
				<li><a href="recruitment_1.html"><span class="sp8"><img src="images/c_1_b.png" alt=""></span>岗位招聘</a></li>
				<li><a href="recruitment_2.html"><span class="sp9"><img src="images/c_2_b.png" alt=""></span>工作环境</a></li>
				<li><a href="recruitment_3.html"><span class="sp10"><img src="images/c_3_b.png" alt=""></span>薪酬福利</a></li>
				<li><a href="recruitment_4.html"><span class="sp11"><img src="images/c_4_b.png" alt=""></span>培训发展</a></li>
				<li><a href="recruitment_5.html"><span class="sp12"><img src="images/c_5_b.png" alt=""></span>谷得生活</a></li>
			</ul>
		</div>
	</div>
	<div class="cont" style="width:1153px">
		
	

		<div class="tab" style="width:1170px">
			<div class="item_1">
				<div class="item_1_l">
					<div class="top">
						<input type="text"><input type="button">

					</div>
					<div class="bottom">
						<div>
							<ul>
								
								<li>策划</li>
								<li>程序</li>
								<li>美术</li>
								<li>商务</li>
								<li>运营</li>
								<li>市场</li>
								<li>客服</li>
								<li>职能</li>
							</ul>
						</div>
					</div>


				</div>
				<div class="item_1_r">
					<div class="textbox">
						<div class="title">
							角色原画
						</div>
						<div>
							<ul>
								<li>岗位类别：</li>
								<li>用人部门：</li>
								<li>招聘人数：</li>
								<div class="clear"></div>
							</ul>
						</div>
						<div class="text">
							南都讯 记者张钊 通讯员夏江丽 廖活年 广州南沙9名高中毕业生聚会喝酒后一名女同学不顾他人劝阻，坚持醉驾摩托车，结果发生交通意外身亡。死者父母将同席喝酒的8名同学起诉至法院，要求承担赔偿责任。南沙法院最终认定，8名同学均劝阻过死者不要醉驾，尽到了各自的义务，无需担责。法官提醒，同席饮酒者负有劝阻义务和照顾义务，如未尽到相应义务，可能要承担次要责任。

今年6月一天傍晚，南沙的9名高中生相聚烧烤，庆祝高中毕业。其间有6名同学都喝了不少酒，其中麦某已先喝醉。

凌晨时分，喝醉酒的女生小美(化名)不顾他人劝阻，将同样醉酒的麦某扶上自己的摩托车，送完麦某回家后，小美又驾摩托车准备返回聚会现场。

而在路途中，摩托车直接撞到路边花坛，小美当场死亡。事后交警部门认定，小美是醉酒导致交通事故。但随后，死者小美的父母向南沙法院起诉，要求聚会的其他8名同学承担赔偿责任。

庭审中，小美的父母认为其他八名同学与小美一起喝酒，对小美有阻止醉驾的义务，因此应当对小美的死亡承担全部赔偿责任。

而各被告均不认可，认为根据交通事故认定书和尸检报告，小美的死亡是交通事故导致，且在场的人均对小美醉驾提出过劝阻。

南沙法院认定，本案中他人已经明确劝阻小美不要醉驾，已尽到合理提醒义务，而小美不听劝阻，从而发生交通事故，其应当对交通事故承担全部责任。

可一名高中生突然失去生命，其父母必然承受丧女之痛。法官最终促使8名同学自愿给予部分经济补偿，对小美的父母聊以安慰，案件以调解结案。
						</div>

					</div>
				</div>
				<div class="clear"></div>

			</div>

		</div>

		

	</div>
	<div class="gamelist">
		
		<div class="div1"><img src="images/ewm.jpg" alt=""></div>
		<div class="div2">
			<p class="p1">唯有攻略与礼包不可辜负!</p>
			<p class="p2">搜索“谷得游戏”关注官方微信（gudegames）立即获取。<br/> 所有热门精品游戏，一个微信号全搞定！</p>
		
		</div>
		<div class="div3">
			<div class="item">
				<img src="images/game.png" alt="">
				<p>Never Gone</p>
			</div>
			<div class="item">
				<img src="images/game.png" alt="">
				<p>Never Gone</p>
			</div>
			<div class="item">
				<img src="images/game.png" alt="">
				<p>Never Gone</p>
			</div>
		</div>
	</div>


	</div>
	<div class="footer">
		<div class="box">
			<div class="logo1"><img src="images/logo.png" alt="" width="135"></div>
			<div class="logo2"><img src="images/logo2.png" alt="" width="45"></div>
			<div class="text">
				<div>
					<a href="">关于谷得</a>
					<a href="">联系我们</a>
					<a href="">网站地图</a>
					<a href="">法律声明</a>
				</div>
				<div>@2012-2013Good Game Inc.All Rights Reserved 谷得公司 版权所有 粤B2-20120263</div>

			</div>
			<div class="xx">
				<div><img src="images/tel.png" alt="">客服热线：020-85623474</div>
				<div><img src="images/email.png" alt="">客服邮箱：kefu@good321.net</div>

			</div>
		</div>
	</div>
	<a href="#top" id="toTop"></a>
	<script src="https://qiyukf.com/script/78f4110eac39c99f909c687260013544.js"></script>
</body>
</html>