<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>谷得游戏_人才招聘</title>
<meta name="description" content="谷得游戏人才招聘，加入谷得大家庭，我们将竭诚为所有员工提供具有行业竞争力的薪酬以及健全的员工福利体系。" />
<meta name="keywords" content="谷得游戏、谷得、谷得官网" />
<#include "header_common.html">
<style>

.header .menu .li5{ background: url(desktop/images/head5_b.jpg) no-repeat center;}

</style>
<script>
	headtitle(4);
	navtitle(2);
</script>

</head>
<body>
<#include "header.html">
<#include "title2.html">

	<div class="cont" style="width:1153px">
	
		<div class="tab" style="width:1170px">
			<div class="item_3">
				<div class="toptitle">加入谷得大家庭，我们将竭诚为所有员工提供具有行业竞争力的薪酬，以及健全的员工福利体系：</div>
				<div class="itemimg2"><img src="desktop/images/d1.png" alt=""></div>
				<div class="itemimg2"><img src="desktop/images/d2.png" alt=""></div>
				<div class="itemimg2"><img src="desktop/images/d3.png" alt=""></div>
				<div class="itemimg2"><img src="desktop/images/d4.png" alt=""></div>
				<div class="itemimg2"><img src="desktop/images/d5.png" alt=""></div>
				<div class="itemimg2"><img src="desktop/images/d6.png" alt=""></div>
				<div class="itemimg2"><img src="desktop/images/d7.png" alt=""></div>
				<div class="itemimg2"><img src="desktop/images/d8.png" alt=""></div>
				<div class="itemimg2"><img src="desktop/images/d9.png" alt=""></div>
				<div class="itemimg2"><img src="desktop/images/d10.png" alt=""></div>
				<div class="itemimg2"><img src="desktop/images/d11.png" alt=""></div>
				<div class="itemimg2"><img src="desktop/images/d12.png" alt=""></div>
				<div class="clear"></div>
			</div>
	

		</div>
		

	</div>
	

	</div>
	<#include "footer.html">
  <script type="text/javascript" src="js/jquery.masonry.min.js"></script> 
</body>
</html>