<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>谷得游戏_人才招聘</title>
<meta name="description" content="谷得游戏人才招聘，加入谷得大家庭，我们将竭诚为所有员工提供具有行业竞争力的薪酬以及健全的员工福利体系。" />
<meta name="keywords" content="谷得游戏、谷得、谷得官网" />
<#include "header_common.html">
<script>
	headtitle(4);
	navtitle(4);
</script>
<style>
	.header .menu .li5{ background: url(desktop/images/head5_b.jpg) no-repeat center;}
</style>
</head>
<body>
<#include "header.html">
<#include "title2.html">

	<div class="cont" style="width:1153px">
		<div class="tab" style="overflow:visible; background:#fff">
			<div class="item_5">
			<ul>
            
            	<#assign i = 0>
              	<#if imageList??>
                  	<#list imageList as image>
                  		<#if image.imgType=="EL" && image.state==1>
							<#assign i = i+1>
                  			<#if (i%2)==0>
								<li>

									<div class="item_5_r2 game_peo"><img src="${image.img}" alt=""></div>
									<div class="item_5_l2 gameleft">
										<p class="p1">${image.title}</p>
										<!-- <p class="p2">${image.englishTitle}</p> -->

										<div class="hr"></div>
										<div class="p3">${image.content}</div>
									</div>
									<div class="clear"></div>

		                            
		                        </li>

							<#else>
							   <li>
									<div class="item_5_l1 gameleft"><img src="${image.img}" alt=""></div>
		                                <div class="item_5_r1 game_peo">
		                                    <p class="p1">${image.title}</p>
		                                    <!-- <p class="p2">${image.englishTitle}</p> -->
		                                    <div class="hr"></div>
		                                    <div class="p3">${image.content}</div>
		                                </div>
		                            <div class="clear"></div>
								</li>

                  			</#if>
		                     
                        </#if>
                </#list>
				</#if>
				
				</ul>
				

			</div>

		</div>
	</div>
	


	</div>
<#include "footer.html">
  <script type="text/javascript" src="desktop/js/jquery.masonry.min.js"></script> 
  <script type="text/javascript" src="desktop/js/main_06_24.js"></script>
<script type="text/javascript">
$(function(){
	$('.item_5 li').sild();
})

</script>
</body>
</html>