    <div class="banner-base"></div>
    <div class="Title">
        <div class="title">
            <ul>
                <li><a href="pc_recruit.html"><span class="sp8"><img src="desktop/images/c_1_b.png" alt=""></span>岗位招聘</a></li>
                <li><a href="pc_wc.html"><span class="sp9"><img src="desktop/images/c_2_b.png" alt=""></span>工作环境</a></li>
                <li><a href="pc_cb.html"><span class="sp10"><img src="desktop/images/c_3_b.png" alt=""></span>薪酬福利</a></li>
                <li><a href="pc_td.html"><span class="sp11"><img src="desktop/images/c_4_b.png" alt=""></span>培训发展</a></li>
                <li><a href="pc_el.html"><span class="sp12"><img src="desktop/images/c_5_b.png" alt=""></span>谷得生活</a></li>
            </ul>
        </div>
    </div>