@charset "utf-8";
*{
	FONT-SIZE: 12px; COLOR: white
}
#logo {
	COLOR: white;
	BACKGROUND-IMAGE: url(../../img/top/logo.gif);
	BACKGROUND-REPEAT: no-repeat
}
#logo #top {
	PADDING-RIGHT: 50px; 
	BACKGROUND-POSITION: right 50%; 
	DISPLAY: block; 
	PADDING-LEFT: 0px; 
	BACKGROUND-IMAGE: url(../../img/top/bg_banner_menu.gif); 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 3px; 
	BACKGROUND-REPEAT: no-repeat; 
	HEIGHT: 30px; 
	TEXT-ALIGN: right
}

#logo #bot {
	BACKGROUND-IMAGE:url(../../img/top/bg_nav.gif);
	BACKGROUND-REPEAT: repeat-x; 
	HEIGHT:30px;
	clear:both;
}
#logo A {
	COLOR: white
}
FORM {
	MARGIN: 0px
}
