@charset "utf-8";
/************************************************************************************
smaller than 980
*************************************************************************************/
@media screen and (max-width: 980px) {

	/* pagewrap */
	#main {
		width: 50%;
	}
	.checked{
		
		width:auto}

}
/************************************************************************************
smaller than 650
*************************************************************************************/
@media screen and (max-width: 650px) {
	#main{
		width: auto;
		float: none;
		margin: 20px 0;
	}
	.checked{
		
		width:auto}
	.email{
		
		width:auto}
	#ttb{
		
		width:auto}
}
/************************************************************************************
smaller than 560
*************************************************************************************/
